# Basic Dictionay Operations

1. Create a dictionary with 3 key-value pairs (name, age, city).

In [1]:
dic={"name":"sham","age":25,"city":"kolhapur"}
print(dic)

{'name': 'sham', 'age': 25, 'city': 'kolhapur'}

2. Create a dictionary and print the value of a specific key.

In [2]:
dic={"name":"sham","age":25,"city":"kolhapur"}
print(dic["name"])

sham

3. Make a dictionary and add a new key-value pair to it.

In [4]:
dic={"name":"sham","age":25,"city":"kolhapur"}
dic.update({"marks":90})
print(dic)

{'name': 'sham', 'age': 25, 'city': 'kolhapur', 'marks': 90}

4. Create a dictionary and change the value of an existing key.

In [6]:
dic={"name":"sham","age":25,"city":"kolhapur"}
dic.update({"age":24})
print(dic)

{'name': 'sham', 'age': 24, 'city': 'kolhapur'}

5. Create a dictionary and remove one key using pop().

In [9]:
dic1={"name":"vinu","id":101,"city":"pune"}
dic1.pop("city")
print(dic1)

{'name': 'vinu', 'id': 101}

6. Create a dictionary and remove the last inserted item using popitem().

In [10]:
dic2={"roll_no":1,"name":"shruti","marks":99}
dic2.popitem()
print(dic2)

{'roll_no': 1, 'name': 'shruti'}

7. Create a dictionary and print all the keys.

In [11]:
dic={"name":"sham","age":25,"city":"kolhapur"}
print(dic.keys())

dict_keys(['name', 'age', 'city'])

8. Create a dictionary and print all the values.

In [12]:
dic={"name":"sham","age":25,"city":"kolhapur"}
print(dic.values())

dict_values(['sham', 25, 'kolhapur'])

9. Create a dictionary and print all the key-value items.

In [13]:
dic={"name":"sham","age":25,"city":"kolhapur"}
print(dic.keys(), dic.values())

dict_keys(['name', 'age', 'city']) dict_values(['sham', 25, 'kolhapur'])

10. Make a dictionary and check the number of items using len().

In [15]:
dic={"name":"sham","age":25,"city":"kolhapur"}
print(len(dic))

3

11. Create a dictionary and check if a certain key exists (using "key" in dict).

In [16]:
student = {
    "name": "Ramesh",
    "age": 22,
    "course": "Big Data"
}


if "age" in student:
    print("Key exists!")
else:
    print("Key does not exist!")

Key exists!

12. Create an empty dictionary and add two key-value pairs one by one.

In [17]:
dic3={}
dic3.update({"name":"sham"})
dic3.update({"age":25})
print(dic3)

{'name': 'sham', 'age': 25}

13. Create a dictionary and update one keyâ€™s value using update().

In [20]:
dic={"name":"sham","age":25,"city":"kolhapur"}
dic.update({"age":26})
print(dic)

{'name': 'sham', 'age': 26, 'city': 'kolhapur'}

14. Create two dictionaries and combine them using update().

In [22]:
dic3={"name":"sham","age":25,"city":"kolhapur"}
dic4={"emp_id":10,"dept":"IT"}
dic3.update(dic4)
print(dic3)

{'name': 'sham', 'age': 25, 'city': 'kolhapur', 'emp_id': 10, 'dept': 'IT'}

15. Make a dictionary and get the value of a key using get().

In [23]:
dic={"name":"sham","age":25,"city":"kolhapur"}
print(dic.get("age"))

25

16. Create a dictionary and print its type using type().

In [24]:
dict={"a":1,"b":2,"c":3}
print(type(dict))

<class 'dict'>

17. Create a dictionary and replace one value with a new one.

In [26]:
dict={"a":1,"b":2,"c":3}
dict.update({"b":10})
print(dict)

{'a': 1, 'b': 10, 'c': 3}

18. Create a dictionary and clear all items using clear().

In [31]:
dic={"name":"sham","age":25,"city":"kolhapur"}
dic.clear()

19. Create a dictionary with numbers as keys and names as values. Print the dictionary.

In [32]:
students = {
    1: "Sham",
    2: "Ramesh",
    3: "Suresh",
    4: "Anjali",
    5: "Deep"
}
print(students)

{1: 'Sham', 2: 'Ramesh', 3: 'Suresh', 4: 'Anjali', 5: 'Deep'}

20. Create a dictionary and copy it into a new dictionary using copy().

In [35]:
dic={"name":"sham","age":25,"city":"kolhapur"}
dic6=dic.copy()
print(dic6)

{'name': 'sham', 'age': 25, 'city': 'kolhapur'}