# Basic List Operations

1. Create a list of 5 numbers and add a new number to the end.

In [ ]:
lst=[10,20,30,40,50]
lst.append(60)

[10, 20, 30, 40, 50, 60]

2. Make a list of fruits and insert a fruit at the second position.

In [2]:
lst =["mango","banana","grapes"]
lst[1]="orange"
print(lst)

['mango', 'orange', 'grapes']

3. Create a list of names and remove one name from the list.

In [2]:
lst=["sham","aniket","ketan"]
lst.remove("ketan")
lst

['sham', 'aniket']

4. Create a list of 4 items and change the value at index 2.

In [5]:
lst1 = [10, 20, 30, 40, 50, 60]
lst1[2]=100
print(lst1)

[10, 20, 100, 40, 50, 60]

5. Make a list of numbers and print only the first three elements.

In [8]:
lst1 = [10, 20, 30, 40, 50, 60]
print(lst1[0:3])

[10, 20, 30]

6. Create a list of colors and find the index of a specific color.

In [9]:
colours_lst="black","white","red"
print(colours_lst[1])

white

7. Create a list of 10 numbers and print how many times “5” appears.

In [10]:
lst2=[1,2,3,4,45,5,5,6,7,83,5]
count_5=lst2.count(5)
print(count_5)

3

8. Make a list of 6 items and delete the item at index 3.

In [11]:
lst3=[1,2,3,4,5,6]
del lst3[3]
print(lst3)

[1, 2, 3, 5, 6]

9. Create a list of animals and add three more animals using extend().

In [ ]:
animals=["dog","cat","camal"]
animals.extend(["zebra","tiger","lion"])
print(animals)

['dog', 'cat', 'camal', 'zebra', 'tiger', 'lion']

10. Create a list and remove the last item using pop().

In [24]:
animals=["dog","cat","camal"]
animals.pop()
animals

['dog', 'cat']

11. Create a list of prices and sort them in ascending order.

In [27]:
price=[40,50,60,90,10,30]
price.sort()
price

[10, 30, 40, 50, 60, 90]

12. Make a list of countries and reverse the order of the list.

In [28]:
countries=["india","span","japan","srilanka"]
countries.reverse()
countries

['srilanka', 'japan', 'span', 'india']

13. Create a list of words and check if “apple” is in the list.

In [29]:
words=["bat","ball","apple"]
if "apple" in words:
  print("apple is in the list")
else :
 print("apple is not in the list ")

apple is in the list

14. Create a list of numbers and print the largest and smallest number.

In [34]:
lst3=[1,2,3,3,4,5,6]
largest=max(lst3)
print("largest:", largest)
smallest=min(lst3)
print("small:",smallest)

largest: 6
small: 1

15. Make a list of 5 items and print each item using a loop.

In [35]:
lst4=[1,2,3,4,5]
for num in lst4:
    print(num)

1
2
3
4
5

16. Create two lists and combine them into one list.

In [36]:
lst4=[1,2,3,4,5]
lst5=[6,7,8,9,10]
lst4.extend(lst5)
print(lst4)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

17. Make a list and replace the last item with a new value.

In [37]:
lst3=[1,2,3,4,5,6]
lst3[-1]=10
print(lst3)

[1, 2, 3, 4, 5, 10]

18. Create a list of numbers and print only the even numbers.

In [38]:
lst_num=[1,2,3,4,5,6,7,8,9,10]
for num in lst_num:
    if num%2==0:
        print(num)

2
4
6
8
10

19. Create a list and clear all items from the list.

In [39]:
lst3=[1,2,3,4,5,6]
lst3.clear()
print(lst3)

[]

20. Create a list of 5 values and copy it into another list.

In [43]:
lst3=[1,2,3,4,5]
lst6=lst3.copy()
print(lst6)

[1, 2, 3, 4, 5]